.hello {
  color: red;
}

body {
  background: linear-gradient(180deg, rgba(61, 61, 61, 0.4) 0%, rgba(61, 61, 61, 0.4) 96%),  url(../assets/images/background3.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  object-fit: contain;
}